@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
* {
  margin: 0;
  padding: 0; }
  * body {
    font-family: Verdana;
    background-color: #354359;
    padding: 0 15%; }
    * body header {
      min-height: 100vh;
      width: 100%; }
      * body header nav {
        height: 5vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; }
        * body header nav p {
          position: absolute;
          left: 0;
          color: #d9d9db; }
        * body header nav .right-nav {
          position: absolute;
          right: 0; }
          * body header nav .right-nav ul {
            list-style-type: none;
            width: 100%;
            justify-content: space-between;
            display: flex;
            flex-direction: row; }
            * body header nav .right-nav ul li {
              margin-left: 1em; }
              * body header nav .right-nav ul li a {
                color: #d9d9db;
                text-decoration: none;
                position: relative;
                display: inline-block; }
                * body header nav .right-nav ul li a::after {
                  position: absolute;
                  bottom: -4px;
                  left: 0;
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: #cc9e08;
                  transform: scale(0, 1);
                  transform-origin: center top;
                  transition: transform .3s; }
                * body header nav .right-nav ul li a:hover::after {
                  transform: scale(1, 1); }
      * body header main {
        text-align: center;
        display: inline; }
        * body header main .main-contents {
          padding: 200px 0; }
          * body header main .main-contents h1 {
            padding: auto 0;
            font-size: 70px;
            color: #d9d9db;
            text-align: center; }
            * body header main .main-contents h1:after {
              content: '';
              border-right: 1px solid;
              animation: 1s linear infinite; }
          * body header main .main-contents p {
            padding: 20px 0;
            color: #d9d9db;
            font-size: 25px; }
          * body header main .main-contents .earth {
            margin: 50px auto 0 auto;
            position: relative;
            overflow: hidden;
            width: 300px;
            height: 300px;
            background-color: #ccc;
            border-radius: 50%;
            box-shadow: -20px 0 3px rgba(0, 0, 0, 0.3) inset; }
          * body header main .main-contents .earth:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: repeat-x;
            background-image: url(https://drive.google.com/uc?export=view&id=11chGBx0vAj79X4ph_fUXDQIYdRy9uqBV);
            background-position: 0 0;
            background-size: auto 100%;
            transform: rotate(23.4deg);
            animation: rotation 16s linear infinite; }
@keyframes rotation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -200% 0; } }
    * body .about {
      background-color: #354359;
      height: 700px;
      display: flex;
      justify-content: space-between; }
      * body .about .about-img {
        margin: auto;
        height: 600px;
        width: 45%;
        background-color: #2e2a2a;
        border: #d9d9db 1px solid; }
        * body .about .about-img img {
          width: 100%;
          height: 600px;
          opacity: 0.4;
          object-fit: cover; }
      * body .about article {
        width: 45%; }
        * body .about article h2 {
          color: #d9d9db;
          margin-top: 30px;
          font-size: 45px; }
        * body .about article p {
          margin-top: 30px;
          color: #d9d9db;
          line-height: 2em; }
    * body .skill {
      margin-top: 200px;
      height: 700px;
      background-color: #354359; }
      * body .skill h2 {
        width: 70%;
        margin: 50px auto 0;
        font-size: 45px;
        color: #d9d9db; }
      * body .skill .skill-container {
        width: 70%;
        margin: 50px auto; }
        * body .skill .skill-container .progress-container {
          height: 70px; }
          * body .skill .skill-container .progress-container .name {
            color: #d9d9db; }
          * body .skill .skill-container .progress-container .value {
            background-color: #354359;
            border-radius: 9999px;
            display: flex;
            align-items: center;
            height: 30px; }
            * body .skill .skill-container .progress-container .value .value-bar {
              height: 15px;
              justify-content: center;
              background-color: #cc9e08;
              color: #d9d9db;
              border-radius: 9999px;
              font-size: 10px;
              transition: 2s; }
    * body .project {
      height: auto;
      background-color: #354359; }
      * body .project h2 {
        margin: 80px 0;
        font-size: 45px;
        color: #d9d9db;
        width: 48%;
        float: right; }
      * body .project ul {
        list-style: none; }
        * body .project ul li .project-content {
          margin-bottom: 70px;
          display: flex;
          height: 500px;
          width: 100%;
          justify-content: space-between;
          animation: slideInRight 1s; }
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
          * body .project ul li .project-content .project-img {
            width: 45%;
            height: auto;
            position: relative; }
            * body .project ul li .project-content .project-img img {
              width: 100%;
              position: absolute;
              opacity: 1;
              transition: all 2s ease-in-out;
              object-fit: contain; }
          * body .project ul li .project-content .project-info {
            width: 48%; }
            * body .project ul li .project-content .project-info p {
              color: #d9d9db;
              line-height: 2em;
              margin: 20px 0; }
            * body .project ul li .project-content .project-info h3 {
              color: #d9d9db;
              font-size: 45px; }
            * body .project ul li .project-content .project-info .links a {
              margin-right: 20px;
              text-decoration: none;
              position: relative;
              display: inline-block;
              color: #d9d9db; }
              * body .project ul li .project-content .project-info .links a::after {
                position: absolute;
                bottom: -4px;
                left: 0;
                content: '';
                width: 100%;
                height: 2px;
                background: #cc9e08;
                transform: scale(0, 1);
                transform-origin: center top;
                transition: transform .3s; }
              * body .project ul li .project-content .project-info .links a:hover::after {
                transform: scale(1, 1); }
        * body .project ul li:nth-child(even) .project-content {
          flex-direction: row-reverse;
          flex-wrap: nowrap;
          animation: slideIn 1s; }
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
    * body .contact .contact-form {
      margin: 60px auto;
      border: dotted #d9d9db;
      height: 550px;
      width: 60%; }
      * body .contact .contact-form h2 {
        margin: 30px 0 30px 0;
        color: #d9d9db;
        text-align: center;
        font-size: 45px; }
      * body .contact .contact-form .contact-line {
        text-align: center;
        margin-bottom: 20px; }
        * body .contact .contact-form .contact-line input {
          height: 40px;
          width: 60%; }
        * body .contact .contact-form .contact-line .message {
          height: 120px; }
      * body .contact .contact-form .contact-btn {
        text-align: center;
        width: 100%;
        margin-top: 30px; }
        * body .contact .contact-form .contact-btn button {
          height: 50px;
          width: 20%; }
          * body .contact .contact-form .contact-btn button span {
            font-size: 15px; }
    * body footer {
      height: 50px; }
      * body footer p {
        color: #d9d9db; }

/*# sourceMappingURL=portfolio.css.map */
